@use '../abstracts' as *;

.header {
  --header-background-url: url('../images/bg-hero-mobile.svg');
  background: var(--header-background-url) center / contain no-repeat, var(--color-pale-cyan-100);
  padding: rem(28) rem(20) rem(44);

  @include breakpoint(medium) {
    padding: rem(48) rem(30) rem(72);
  }

  @include breakpoint(large) {
    --header-background-url: url('../images/bg-hero-desktop.svg');
  }

  &__container {
    width: min(100%, rem(1280));
  }
}
